    
<div class="register">
    <div id= "register_header">
        <h1>Create a new family</h1>

        <%= button_to "Login", login_path, method: "get" %><br>
    </div>
    <div id="add_guard_container">
        <%= render "new_guardian_form" %>
    </div>
</div>